# Py 1

In [1]:
import findspark

In [2]:
findspark.init('/home/ubuntu/spark-3.0.0-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
1

1

In [5]:
x = 'string'

In [6]:
x.upper()

'STRING'

In [8]:
type(213.1)

float

In [12]:
print('tis is a format for {}, and the number format {}'.format('asdfa', '109'))

tis is a format for asdfa, and the number format 109

In [13]:
print("first: {x}, {y}".format(x='asldkfjal', y='sad'))

first: asldkfjal, sad

# List

In [15]:
newlist=['a', 'b', 'c']

In [18]:
newlist[-1] = 'NEW'

In [19]:
newlist[-1]

'NEW'

In [20]:
newlist.append('d')

In [24]:
newlist

['a', 'b', 'NEW', 'd', ['list', 'in', 'list']]

In [23]:
newlist.append(['list', 'in', 'list'])

In [25]:
newlist[-1]

['list', 'in', 'list']

In [26]:
newlist[-1][1]

'in'

In [89]:
last = newlist.pop()

In [90]:
last

'NEW'

In [91]:
list2 = [1,2,3,4]

In [92]:
list2.pop(2)

3

In [93]:
list2

[1, 2, 4]

# Disctionary

In [27]:
d = {'key1':'value', 'key2':2}

In [28]:
d['key2']

2

In [82]:
print(d)

{'key1': 'value', 'key2': 2}

In [84]:
d.keys()

dict_keys(['key1', 'key2'])

In [85]:
d.items()

dict_items([('key1', 'value'), ('key2', 2)])

# Tuple non-immutable

In [31]:
t = (1,1,1,2,1,2,3,5)

In [32]:
t[2] = 'new'

TypeError: 'tuple' object does not support item assignment

# Set, unorder and unique

In [33]:
{1,1,1,2,3,4,4,5,5}

{1, 2, 3, 4, 5}

# Py2

In [39]:
(1 != 2) and ('a' == 'a')

True

In [40]:
(1<= 4) or ('A' == 'a')

True

In [42]:
if 1 == 2:
    print('yeah')

In [44]:
if 'A' == 'a':
    print('sdlk')
elif 3 == 3:
    print('second condition is true')
else:
    print('no')

second condition is true

In [46]:
seq = [1,2,3,4,5,6]
for i in seq:
    print(i**i)

1
4
27
256
3125
46656

In [48]:
i = 1
while i < 5:
    print('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

In [49]:
range(5)

range(0, 5)

In [50]:
list(range(5))

[0, 1, 2, 3, 4]

In [53]:
for i in range(2,5):
    print(i)

2
3
4

In [54]:
for i in list(range(2,5)):
    print(i)

2
3
4

# List Comprehension  build a list

In [55]:
x = [1,2,3,4,5]

In [56]:
out = []
for i in x:
    out.append(i**2)
    
print(out)

[1, 4, 9, 16, 25]

In [57]:
[i**2 for i in x]

[1, 4, 9, 16, 25]

# Py 3 function

In [62]:
def my_func(name = 'default arg'):
    """
    docstring 
    """
    print('hel {}'.format(name))

In [63]:
my_func('bitch')

hel bitch

In [66]:
def square(x):
    return x**2

In [69]:
result = square(2)

4

In [68]:
def square(x):
    print(x**2)

In [71]:
type(result)

NoneType

# Lambda function

In [72]:
lambda var: var*2

In [73]:
st = "my name is sldjaflk"

In [74]:
st.upper()

'MY NAME IS SLDJAFLK'

In [76]:
st.split()

['my', 'name', 'is', 'sldjaflk']

In [77]:
tweet = 'hellow #sport'

In [78]:
tweet.split()

['hellow', '#sport']

In [81]:
tweet.split('#')[-1]  #grab the hashtag

'sport'

## Excerises

In [94]:
s = 'Hi there Sam!'

In [95]:
s.split()

['Hi', 'there', 'Sam!']

In [96]:
planet = 'Earth'

In [97]:
diameter = 12324324

In [98]:
print('the diameter of {} is {} Kilometers'.format(planet, diameter))

the diameter of Earth is 12324324 Kilometers

In [100]:
lst = [1,2,[3,4],[5,[200,200,['hello']],23,11],1,7]

In [101]:
lst[3][1][2]

['hello']

In [102]:
lst[3][1][2][0]

'hello'

In [104]:
a = "user@domain.com"

In [105]:
a.split('@')[-1]

'domain.com'

In [114]:
def  countdogs(st):
    count = 0
    words = st.lower().split()
    for word in words:
        if word == 'dog':
            count += 1
        
    return count

In [115]:
countdogs('This dog runs faster than the other dog dudw!')

2